*{
    margin:0px;
    padding:0px;
}
.wrapper{
   width: 100% auto;
   background-color: #DCE6E8;
   margin: 0px auto;
   padding: 15px;
   /* text-align: center; */
   padding-top: 10px;
   padding-bottom: 75px;
   position: relative;
}
button{
    border-radius: 25px;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #182a39;
    text-align: left;
    border-radius: 25px;
}
ul li{
    display: inline-block;
}
ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 129px;
    text-decoration: none;
}  
/* Change the link color to #111 (black) on hover */
ul li a:hover {
    background-color: #13222e;
}
.staffMember{
    background-color: #DCE6E8;
    width: 350px;
    height: 611px;
    display: inline-block;
    vertical-align: left;
    overflow: auto;
    color: whitesmoke;
}
#user, #clockMod, #pointsQuote{
    background-color: #364756;
    margin-top: 10px;
    border-radius: 25px;
    padding: 20px;
}
#user{
    height: 100px;
    width: 100% auto;
}
#clockMod{
    height: 160px;
    width: 100% auto;
    text-align: center;
}
#pointsQuote{
    height: 200px;
    width:  100% auto;
}
.dailyReport{
    background-color: #364756;
    height: 600px;
    width: 960px;
    display: inline-block;
    vertical-align: top;
    vertical-align: right;
    margin-left: 5px;
    text-align: center;
    margin-top: 10px;
    border-radius: 25px;
    text-align: center;
    color: whitesmoke;
}
.dailyReport ul{
    background-color: #364756;
    margin-left: 30px;
    border-radius: 0px;
}
.dailyReport ul li{
    padding-top: 10px;
}
label{
    display: block;
}
#subBox{
    display: inline-block;
    margin-right: 180px;
    border-radius: 25px;
    width: 150px;
    margin-top: 5px;
}
#reportForm{
    display: inline-block;
    height: 500px;
    width: 650px;
}
#myMessages{
    height: 300px;
    width: 300px;
    display: inline-block;
    margin-bottom: 200px;
}
#myMessages ul{
    font-size: 20px;
    margin-bottom: 300px;
    color: whitesmoke;
}
#manualTimer{
    background-color: yellowgreen;
    height: 300px;
    width: 300px;
    position: absolute;
    top:20%;
    right:0;
    left:0;
    margin:-50px auto 0 auto;
}
#checkYesterDay{
    background: none!important;
    border: none;
    padding: 0!important;
    /*optional*/
    font-family: arial, sans-serif;
    /*input has OS specific font-family*/
    color: whitesmoke;
    text-decoration: underline;
    cursor: pointer;
}
.previousDay{
    background-color: grey;
    height: 160px;
    width: 350px;
    display: none;
    visibility: hidden;
    position: absolute;
}
#previousDayButton, #previousDropBox, #previousDayTextBox{
    display: block;
}
#desc{
    display: none;
    visibility: hidden;
    margin-top: 10px;
    margin-left: 70px;
    /* text-align: left; */
}
#clockOutButton{
    margin-left: 120px;
    display: block;
    width: 80px;
}
.previousDay{
    text-align: center;
}
#previousDayButton{
    margin-left: 150px;
}
#previousDayTextBox{
    margin-left: 90px;
    margin-top: 10px;
}
@media screen and (min-width: 300px) and (max-width: 759px){
    .wrapper{
        height: 100%;
        padding-bottom: 17px;
        overflow: hidden;
    }
    .staffMember{
        width: 100%;
        height: 100%;
        padding-bottom: 15px;
    }
    .links li a {
        padding: 20px 39px;
        /* padding: 20px 60px; */
    }
    #responsiveLogOut{
        margin-left: 35px;
    }
    #user{
        display: block;
    }
    .dailyReport{
        margin-left: 0px;
        height: 100%;
        width: 100%;
    }
    #recipents{
        height: 2em;
        width: 14em;
        
        text-align: inherit;
    }
    #myMessages{
        height: 160px;
        margin-bottom: 0px;
        margin-top: 15px;
    }
    #myMessages ul{
        height: 160px;
        margin-bottom: 0px;
    }
    #reportForm ul li{
        display: block;
    }
    #reportForm ul{
        text-align: inherit;
        margin-left: 0px;
    }
    #today, #challenges, #help{
        height: 4em;
        width: 14em;
    }
    #subBox{
        display: inherit;
        margin-top: 31px;
        margin-left: 79px;
        padding: 10px;
        margin-right: 0px;
    }
    #reportForm{
        height: 100%;
        width: 100%;
    }
    #pointsQuote{
        height: 100%;
    }
}
@media screen and (min-width: 1199px) and (max-width: 1355px){
    .dailyReport{
        width: 770px;
    }
}

@media screen and (min-width: 760px) and (max-width: 1200px){

    .staffMember{
        width: 100%;
        height: 390px;
        display: block;
        
    }
    .dailyReport{
        margin-left: 0px;
        width: 100%;
        overflow: auto;
    }
    #clockMod{
        text-align: center;
    }
    #clockOutButton{
        display: initial;
        margin-left: 0px;
    }
    #desc{
        margin-left: 295px;
    }
    #myMessages{
        height: 10px;
        margin-bottom: 150px;
        margin-top: 10px;
    }
    #myMessages ul{
        margin-bottom: 0px;
    }

    
}