*{
    margin:0px;
    padding:0px;
}
.wrapper{
   width: 100% auto;
   background-color: silver;
   margin: 0px auto;
   padding: 15px;
   /* text-align: center; */
   padding-top: 10px;
   padding-bottom: 75px;
   position: relative;
   margin-top: 5px;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    text-align: left;
}
ul li{
    display: inline-block;
}
/* Change the link color on hover */
ul li a:hover {
    background-color: #555;
    color: white;
} 
ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 95px;
    text-decoration: none;
}  
/* Change the link color to #111 (black) on hover */
ul li a:hover {
    background-color: #111;
}
.staffMember{
    background-color: green;
    width: 350px;
    height: 600px;
    display: inline-block;
    vertical-align: left;
}
#user{
    background-color: red;
    height: 100px;
    width: 100% auto;
}
#clockMod{
    background-color: pink;
    height: 160px;
    width: 100% auto;
}
#pointsQuote{
    background-color: aqua;
    height: 340px;
    width: 100% auto;
}
.data{
    background-color: orangered;
    height: 600px;
    width: 960px;
    display: inline-block;
    vertical-align: top;
    vertical-align: right;
    margin-left: 5px;
}
table {
    overflow-y:scroll;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    display: block;
}
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
tr:nth-child(even) {
    background-color: #dddddd;
}
#clockFunction{
    background-color: yellow;
    width: 100px auto;
    height: 100px;
}
select{
    width: 150px;
    margin-left: 10px;
    margin-top: 10px;
}
#graph{
    width: 100% auto;
    height: 250px;
    background-color: purple;
}
#tableD{
    width: 100% auto;
    height: 100% auto;
    background-color: pink;
}
table {
    overflow-y:scroll;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100% auto;
    display: block;
}
td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding-left: 80px;
    padding-right: 80px;
}
tr:nth-child(even) {
    background-color: #dddddd;
}

